# dependencies to install for Museo ToolBox developpers

# Museo ToolBox end-user depencies
# same as requirements.txt
numpy>=1.10
scipy>=1.0
scikit-learn>=0.16
matplotlib
joblib
psutil

# Development specific requirements
m2r
autopep8
recommonmark
sphinx
sphinx-rtd-theme
numpydoc
ipykernel
nbsphinx
sphinx-gallery
