# dependencies to install for Museo ToolBox developpers

# Museo ToolBox end-user depencies
-r requirements.txt

# Development specific requirements
m2r
autopep8
recommonmark
sphinx
sphinx-rtd-theme
numpydoc
ipykernel
nbsphinx
sphinx-gallery
